* {
  font-family: "Poppins", "sans-serif";
}
body {
  padding: 2rem;
  background-color: rgb(239, 239, 231);
}
nav h2 {
  font-weight: 900;
  text-transform: uppercase;
}
.blog-body .avatar {
  border: none;
  height: 50px;
}
.blog-body .meta-row p {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(90, 90, 90);
  margin-bottom: 0;
}
.blog-img {
  height: 80vh;
}
.blog-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog h1 {
  font-weight: 800;
  font-size: 2rem;
}
/*  */
.home .card {
  background-color: rgb(239, 239, 231);
}
.home .img-container {
  height: 60vh;
}
.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}
